@use '../../styles/theme';

.RegionSelect-root {
  display: flex;
  align-items: center;
  justify-content: center;

  @include theme.mobileDownBreakPoint {
    width: 100%;
  }
}

.crumbles-container {
  display: flex;
  border-right: none;
  border-radius: theme.$borderRadius;
  justify-content: space-between;
  background-color: theme.$greyWhite;
}

.crumbles-container-span {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile-ellipses {
  max-width: 2ch;
  @include theme.mobileUpBreakPoint {
    max-width: 100%;
  }
}

.crumb-item {
  background-color: theme.$greyWhite;
  display: flex;
  align-items: center;
  border: none;
  padding: 0;
  margin: 0;
  @include theme.mobileDownBreakPoint {
    max-width: 30%;
  }

  span {
    display: flex;
  }
  p {
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: pointer;
  }

  &:first-of-type {
    padding-left: theme.$spacingXSmall;
  }

  &:last-of-type {
    padding-right: theme.$spacingXSmall;
    max-width: 100%;
  }
}

.MuiSelect-root {
  width: theme.$selectButtonHeight;
  background-color: theme.$greyWhite;
  border-radius: 0 theme.$borderRadius theme.$borderRadius 0;

  & .MuiSelect-select {
    font-size: theme.$defaultTextSize;
  }

  & .MuiSelect-clearIndicator {
    & svg {
      font-size: theme.$svgSizeSmall;
    }
  }

  & .MuiSelect-popupIndicator {
    & svg {
      font-size: theme.$svgSizeMedium;
    }
  }
}

.MuiSelect-select {
  font-size: theme.$textSizeSmall;

  &[aria-selected='true'] {
    background-color: theme.$primary !important;
    color: theme.$white !important;
    font-weight: theme.$semiBold;

    &:hover {
      background-color: theme.$primary;
      color: theme.$white;
      opacity: 0.9;
    }
  }

  &:hover {
    background-color: theme.$primaryLight;
    color: theme.$textColor;
  }
}

.MuiSelect-noOptions {
  font-size: theme.$textSizeSmall;
  color: theme.$textSecondary;
  padding: theme.$spacingSmall theme.$spacingMedium;
}

//testing
//.MuiPaper-root {
//  background-color: hotpink;
//}
//
//.MuiList-root {
//  background-color: limegreen;
//
//}
//.MuiMenuItem-root {
//  background-color: purple;
//}

.group-header {
  position: sticky;
  top: -8px;
  font-weight: theme.$semiBold;
  padding: theme.$spacingSmall theme.$spacingMedium;
  border-bottom: 1px solid theme.$secondary;
  font-size: theme.$textSizeSmall;
}

.group-list {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: theme.$textSizeSmall;
}
