@use '../../styles/theme';

.RegionSelect-root {
  display: flex;
  align-items: center;
  justify-content: center;
  width: theme.$regionSelectWidth;

  @include theme.mobileDownBreakPoint {
    width: 100%;
  }
}

.crumbles-container {
  display: flex;
  border: 1px solid black;
  border-right: none;
  border-radius: theme.$borderRadius;
}

.crumbles-container-span {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.crumb-item {
  background-color: white;
  display: flex;
  align-items: center;
  border: none;
  padding: 0;
  margin: 0;

  p {
    display: inline-block;
    cursor: pointer;
  }

  &:first-of-type {
    padding-left: 10px;
  }

  &:last-of-type {
    padding-right: 10px;
    border-right: 1px solid black;
  }
}

.MuiSelect-root {
  width: theme.$selectButtonHeight;
  background-color: theme.$greyWhite;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: theme.$borderRadius;
  border-bottom-right-radius: theme.$borderRadius;

  & .MuiSelect-select {
    font-size: theme.$defaultTextSize;
  }

  & .MuiSelect-clearIndicator {
    & svg {
      font-size: theme.$svgSizeSmall;
    }
  }

  & .MuiSelect-popupIndicator {
    & svg {
      font-size: theme.$svgSizeMedium;
    }
  }
}

.MuiSelect-select {
  font-size: theme.$textSizeSmall;

  &[aria-selected='true'] {
    background-color: theme.$primary !important;
    color: theme.$white !important;
    font-weight: theme.$semiBold;

    &:hover {
      background-color: theme.$primary;
      color: theme.$white;
      opacity: 0.9;
    }
  }

  &:hover {
    background-color: theme.$primaryLight;
    color: theme.$textColor;
  }
}

.MuiSelect-noOptions {
  font-size: theme.$textSizeSmall;
  color: theme.$textSecondary;
  padding: theme.$spacingSmall theme.$spacingMedium;
}

//testing
//.MuiPaper-root {
//  background-color: hotpink;
//}
//
//.MuiList-root {
//  background-color: limegreen;
//
//}
//.MuiMenuItem-root {
//  background-color: purple;
//}

.group-header {
  position: sticky;
  top: -8px;
  font-weight: theme.$semiBold;
  padding: theme.$spacingSmall theme.$spacingMedium;
  background-color: theme.$secondaryLight;
  border-bottom: 1px solid theme.$secondary;
  font-size: theme.$textSizeSmall;
}

.group-list {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: theme.$textSizeSmall;
}
