## MapTiler API key (create in MapTiler dashboard)
ENVIRONMENT= local | dev
VITE_MAPTILER_API_KEY="YOUR_MAPTILER_KEY"
## Paul Allen Coral Atlas App Key
VITE_CORAL_ATLAS_APP_ID="YOUR_CORAL_ATLAS_APP_KEY"
