@use '../../styles/theme';
.MuiFormControl-root {
  display: block;
  width: 100%;

  .MuiRadioGroup-root {
    .MuiFormControlLabel-root {
      margin-left: theme.$defaultSpacing;
      justify-content: space-between;
    }
  }
}

.MuiFormControlLabel-root {
  margin-left: 0;
  justify-content: space-between;

  :global(.MuiFormControlLabel-label) {
    font-size: theme.$textSizeSmall;
  }
}
.layer-card {
  margin: theme.$defaultSpacing;
  padding: theme.$defaultSpacing;
  background-color: theme.$white;
}

.layer-toggle-header {
  display: flex;
  align-items: center;
}
