@use '../../styles/theme';
.MuiFormControl-root {
  display: block;

  .MuiRadioGroup-root {
    .MuiFormControlLabel-root {
      margin-left: theme.$defaultSpacing;
      justify-content: space-between;
    }
  }
}

.layer-card {
  margin: theme.$defaultSpacing;
  padding: theme.$defaultSpacing;
  background-color: theme.$greyWhite;
}

.layer-card_title {
  flex-grow: 1;
}
.layer-toggle-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.map-layer-key {
  width: 20px;
  height: 15px;
}
