@use '../../styles/theme';

.drawer-header {
  position: sticky;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  visibility: visible;
}

//Temporary component styling
.graph-card {
  background-color: white;
  padding: theme.$defaultSpacing;
}

.graphs-container--open {
  overflow-y: scroll;
  //Temporary component styling
  .graph-card {
    margin-bottom: theme.$defaultSpacing;
    width: 100%;
    display: block;
    height: auto;
  }
  .graph-card:last-of-type {
    margin-bottom: 0;
  }
  //End temporary component styling
}

.graphs-container--closed {
  margin-top: theme.$defaultSpacing;
  min-width: 100%;
  width: max-content;
  overflow-x: auto;
  display: flex;
  flex-wrap: nowrap;

  //Temporary component styling
  .graph-card {
    display: block;
    flex: 0 0 auto;
    height: 55px;
    width: 300px;
    margin-right: theme.$defaultSpacing;

    &:last-of-type {
      margin-right: 0;
    }
  }
  //End temporary component styling
}

//Temporary component styling
.graph-plots {
  margin: 0 auto;
  display: block;
  width: 300px;
}
