@use '../../styles/theme';

.year-select {
  display: inline-block;
}

.MuiSelect-root {
  @include theme.muiSelectRoot;
  height: theme.$mapUtilButtonHeight;
  max-height: theme.$mapUtilButtonHeight;
}

.MuiSelect-select {
  @include theme.muiSelectValue;
}

.MuiPaper-root {
  @include theme.muiSelectPaper;
  margin-top: theme.$spacingXSmall;
}

.MuiList-root {
  @include theme.muiSelectList;
}

.MuiMenuItem-root {
  @include theme.muiSelectMenuItem;
}
