@use '../../styles/theme';
@use '../../styles/muiComponents';

.year-select {
  display: flex;
  align-items: center;
  background-color: theme.$greyWhite;
  border-radius: theme.$borderRadius;
  height: theme.$mapUtilButtonHeight;
}

.year-label {
  padding: theme.$spacingSmall theme.$spacingMedium;
  font-size: theme.$defaultTextSize;
  color: theme.$textColor;

  @include theme.mobileDownBreakPoint {
    font-size: theme.$textSizeSmall;
  }
}

.MuiSelect-root {
  @include muiComponents.muiSelectRoot;
}

.MuiSelect-select {
  @include muiComponents.muiSelectValue;
}

.MuiPaper-root {
  @include muiComponents.muiSelectPaper;
  margin-top: theme.$spacingXSmall;
}

.MuiList-root {
  @include muiComponents.muiSelectList;
}

.MuiMenuItem-root {
  @include muiComponents.muiSelectMenuItem;
}
