@use 'theme';

:root {
  background-color: theme.$white;

  line-height: 1.5;
  font-family: theme.$defaultFonts;
  font-weight: theme.$regular;
  color: theme.$textColor;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: theme.$semiBold;
  text-decoration: inherit;
}

body {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p, a, blockquote, pre {
  font-family: theme.$defaultFonts;
}

h1 {
  font-size: theme.$textSizeXLarge;
  line-height: 1.1;
}

h2 {
  font-size: theme.$defaultTextSize;
  font-weight: theme.$bold;
  line-height: 1.2;
}

h3 {
  font-weight: theme.$bold;
  color: theme.$textColor;
}

section {
  padding: theme.$spacingSmall;
}
