@use 'theme';

:root {
  background-color: theme.$white;

  line-height: 1.5;
  font-family: theme.$defaultFonts;
  //font-size: 1.6rem;
  font-weight: 400;
  color: theme.$textColor;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  font-weight: 700;
  line-height: 1.2;
}

h3 {
  font-weight: 700;
  color: theme.$textColor;
}

section {
  padding: theme.$defaultPadding;
}
