/** Theme colors **/
$primary: #174b82;
$primaryLight: #a3b8c8;
$secondary: #dddce4;
$secondaryLight: #f5f5f5;
$white: #ffffff;

/** Fonts, font styling, text, spacing **/
$textColor: #13124a;
$textSecondary: #666666;

$textSizeSmall: 14px;
$textSizeMedium: 16px;


$defaultFonts: 'Titillium Web', 'Open Sans', sans-serif;
$spacingSmall: 8px;
$spacingMedium: 16px;
$spacingLarge: 24px;

/** Z-indexes **/
$layersDrawer: 4;
$baseMap: 1;

/** Header height **/
$headerHeight: 43px;

/** Breakpoints **/
$breakpointMobile: 1024px;

/** Mixins **/
@mixin mobileDownBreakPoint {
  @media (max-width: $breakpointMobile) {
    @content;
  }
}
