@use '../../styles/theme';

.map-wrap {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  background-color: theme.$white;
  width: 100%;
  height: 100%;
  z-index: theme.$baseMap;
}

:global(.maplibregl-ctrl-bottom-right) {
  right: theme.$drawerWidth;
}

.plume-marker {
  width: 15px;
  height: 15px;
  border: 2px solid theme.$accentBlue;
  border-radius: 5px;
  background: transparent;
  pointer-events: none;
}

.snackbar-reload-button {
  background: none;
  border: none;
  color: theme.$white;
  text-decoration: underline;
  cursor: pointer;
  font-weight: theme.$regular;
  padding-right: theme.$defaultSpacing;
}
