@use '../../styles/theme';

$tooltip-bg: rgba(50, 50, 50, 0.92);

.icon-button {
  min-width: unset;
  border-radius: 100px;
  background-color: transparent;
  padding: 0;

  &:hover {
    background-color: theme.$hoverGrey;
  }
}

.icon-button__tooltip {
  background-color: $tooltip-bg !important;
  color: theme.$white !important;
  font-size: theme.$textSizeXSmall;
  letter-spacing: 0.03em;
  padding: theme.$spacingXXSmall theme.$spacingSmall;
  border-radius: theme.$borderRadius;
}
