@use '../../styles/theme';

.icon-button {
  min-width: unset;
  width: theme.$iconButtonWidthHeight;
  height: theme.$iconButtonWidthHeight;
  border-radius: 100px;
  background-color: transparent;
  padding: 0;

  &:hover {
    background-color: theme.$hoverGrey;
  }
}

.tooltip {
  background-color: rgba(50, 50, 50, 0.92) !important;
  color: theme.$white !important;
  font-size: theme.$textSizeXSmall;
  letter-spacing: 0.03em;
  padding: 4px 8px;
  border-radius: theme.$borderRadius;
}

.tooltip-arrow {
  color: rgba(50, 50, 50, 0.92) !important;
}
