@use '../../styles/theme';

.GradientLegend-root {
  background-color: theme.$grey;
  border-radius: theme.$borderRadius;
  padding: theme.$defaultSpacing;
  max-width: 300px;

  h3 {
    line-height: 1;
    margin: 0;
    padding: 0 0 3px;
  }
}

.GradientLegend-legend {
  display: flex;
  justify-content: space-between;

  p {
    font-weight: theme.$bold;
    font-size: theme.$textSizeSmall;
  }
}

.GradientLegend-scale {
  height: theme.$svgSizeSmall;
  border-radius: theme.$borderRadius;
}

.sediment-concentration {
  background: #00366d;
  background: linear-gradient(90deg, rgba(0, 54, 109, 1) 0%, rgba(255, 232, 88, 1) 100%);
}

.reef-ecosystem-exposure {
  background: #feeded;
  background: linear-gradient(90deg, rgba(254, 237, 237, 1) 0%, rgba(242, 79, 79, 1) 100%);
}

.sediment-export {
  background: #48974d;
  background: linear-gradient(
    90deg,
    rgba(72, 151, 77, 1) 0%,
    rgba(241, 241, 241, 1) 50%,
    rgba(161, 99, 38, 1) 100%
  );
}
