@use '../../styles/theme';

.MuiDrawer-root {
  //overlay only shows on temporary drawers
  max-width: 100vw;
  overflow-x: visible;

  & .MuiDrawer-paperAnchorRight {
    display: block;
    top: theme.$headerHeight;
    visibility: visible !important; //override MUI application
    padding: theme.$defaultSpacing;
  }

  & .MuiDrawer-paperAnchorBottom {
    background-color: theme.$grey;

    &.open-drawer {
      height: 98vh;
      overflow-y: clip;
      padding: theme.$spacingMedium theme.$defaultSpacing 0;
    }
    &.closed-drawer {
      height: theme.$closedBottomDrawerHeight;
      margin-top: theme.$defaultSpacing;
      padding: theme.$spacingMedium theme.$defaultSpacing theme.$defaultSpacing;
      visibility: visible !important; //override MUI component styles
      transform: none !important; //override MUI component styles
      overflow-y: hidden;
      overflow-x: visible;
      width: 100% !important;
    }
  }

  & .MuiDrawer-paperAnchorLeft {
    display: block;
    width: theme.$drawerWidth;
    padding: theme.$spacingSmall;

    @include theme.mobileUpBreakPoint {
      top: theme.$headerHeight;
    }
  }
  & .MuiDrawer-paper {
    padding-top: theme.$spacingMedium;
    transform: none !important; //override MUI application
  }
}

.drawer-puller {
  position: sticky;
  left: calc(50% - 45px); // 1/2 of theme.$drawerPullerWidth
  top: 0;
  width: theme.$drawerPullerWidth;
  height: theme.$drawerPullerHeight;
  background-color: theme.$textSecondary;
  border-radius: theme.$borderRadius;
}
