@use '../../styles/theme';

.MuiDrawer-root {
  height: 180px;

  & .MuiDrawer-paperAnchorLeft {
    width: 350px;
    padding: 8px;
  }
  & .MuiDrawer-paperAnchorBottom {
    height: 200px;
  }

  & .MuiDrawer-paper {
    padding-top: 18px;
    transform: none !important; //override MUI application
    //visibility: visible !important;
  }
}
