@use '../../styles/theme';

.MuiDrawer-root {
  background-color: pink;

  & .MuiDrawer-root {
    background-color: greenyellow;
  }
  & .MuiDrawer-paper {
    max-height: 90px;
    //display: flex;
    //overflow-x: scroll;
    //overflow-y: hidden;
    //flex-direction: column;
    padding: theme.$defaultPadding;
    background-color: purple;
  }
}
