@use '../../styles/theme';
.LayerToggleLegend {
  display: block;
  max-width: 300px;
}
.LayerToggleLegend__item {
  display: inline-block;
  width: theme.$legendSwatchWidth;
  height: theme.$legendSwatchHeight;
  border: 1px solid black;
}
.LayerToggleLegend__item-row {
  display: flex;
  align-items: center;
}

.LayerToggleLegend__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.LayerToggleLegend__all-label {
  font-weight: 600;
}
