@use '../../styles/theme';
.Legend {
  display: flex;
  flex-direction: column;
  gap: theme.$defaultSpacing;
  background-color: theme.$greyWhite;
  border-radius: theme.$borderRadius;
  padding: theme.$defaultSpacing;
  max-width: 300px;
}
.Legend__item {
  display: block;
  width: theme.$legendSwatchWidth;
  height: theme.$legendSwatchHeight;
  border: 1px solid black;
}

.Legend__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
