@use '../../styles/theme';
.Legend {
  display: block;
  background-color: theme.$grey;
  border-radius: theme.$borderRadius;
  padding: theme.$defaultSpacing;
  max-width: 300px;
}
.Legend__item {
  display: block;
  background-color: theme.$grey;
  width: theme.$legendSwatchHeight;
  height: theme.$legendSwatchHeight;
  border: 1px solid black;
}

.Legend__row {
  display: flex;
  justify-content: space-between;
}
