@use '../../styles/theme';
.Legend-root {
  display: block;
  background-color: theme.$grey;
  border-radius: theme.$borderRadius;
  padding: theme.$defaultSpacing;
  max-width: 300px;
}
.legend-item {
  display: block;
  background-color: theme.$grey;
  width: 15px;
  height: 15px;
  border: 1px solid black;
}

.legend__row{
  display: flex;
  justify-content: space-between;
}