@use '../../styles/theme';

.LayersDrawer-root {
  display: flex;
  width: theme.$drawerWidth;
  align-items: center;
}

.layerToggleButton {
  position: relative;
  top: 0;
  left: 0;
  height: 40px;

  & svg {
    width: theme.$svgSizeSmall;
    color: theme.$textColor;
  }
}

.layer-card {
  margin: theme.$defaultPadding;
  padding: theme.$defaultPadding;
  background-color: theme.$greyWhite;
}
