@use '../../styles/theme';

.MapContainer-root {
  width: 100%;
  height: 100%;
}

.layer-controls {
  max-width: 100%;
  position: relative;
  z-index: theme.$layersDrawer;
  display: flex;
  justify-content: space-between;
  gap: theme.$spacingXSmall;
  padding: theme.$spacingXSmall;

  @media (min-width: theme.$breakpointTablet) {
    max-width: 100%;
    position: relative;
    justify-content: center;
    z-index: theme.$layersDrawer;
    align-items: center;
    padding: theme.$spacingSmall;
    gap: theme.$spacingMedium;
  }

  > div {
    justify-self: center;
    display: flex;
    gap: theme.$spacingXSmall;
  }
}
