@use '../../styles/theme';

.MapContainer-root {
  width: 100%;
  height: 100%;

  .layer-controls--desktop {
    position: relative;
    top: -40px;
    z-index: theme.$layersDrawer;
    align-items: center;
    padding: theme.$spacingSmall;
    gap: theme.$spacingMedium;
    pointer-events: none;

    > * {
      pointer-events: auto;
    }

    > div {
      justify-self: center;
      display: flex;
      gap: theme.$spacingXSmall;
    }
  }

  .layer-controls--mobile {
    position: relative;
    z-index: theme.$layersDrawer;
    display: flex;
    gap: theme.$spacingXSmall;
    padding: theme.$spacingXSmall;
  }
}
