@use '../../styles/theme';
.formControlRoot {
  display: block;
  width: 100%;
}

.formControlLabelRoot {
  margin-left: 0;
  justify-content: space-between;

  :global(.MuiFormControlLabel-label) {
    font-size: theme.$textSizeSmall;
  }
}

.basemap-card {
  margin: theme.$defaultSpacing;
  padding: theme.$defaultSpacing;
  background-color: theme.$greyWhite;
}

.basemap-card_title {
  flex-grow: 1;
  font-size: theme.$textSizeSmall;
}

.basemap-toggle-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.basemap-toggle-right {
  display: flex;
  align-items: center;
}

.rivers-legend {
  width: theme.$legendSwatchWidth;
  height: theme.$legendSwatchHeight;
  background-color: theme.$riversColor;
}
