@use '../../styles/theme';
.MuiFormControl-root {
  display: block;
  width: 100%;

  .MuiRadioGroup-root {
    .MuiFormControlLabel-root {
      margin-left: theme.$defaultSpacing;
      justify-content: space-between;
    }
  }
}

.MuiFormControlLabel-root {
  margin-left: 0;
  justify-content: space-between;
}

.basemap-card {
  margin: theme.$defaultSpacing;
  padding: theme.$defaultSpacing;
  background-color: theme.$greyWhite;
}

.basemap-card_title {
  flex-grow: 1;
}

.basemap-toggle-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
