@use '../../styles/theme';

.graph-card {
  position: relative;
  width: 100%;
}

.graph-card__header {
  padding: 10px;
  width: 100%;
}

.graph-card__header--open {
  position: absolute;
  top: 0;
  z-index: 1;
  width: 80%;
  padding: theme.$defaultSpacing;
}

.graph-card__header--closed {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.graph-card__header--no-data {
  padding: 10px;
}

.graph-card__plot {
  display: block;
  margin: 0 auto;
}

.graph-card__region-label {
  margin-bottom: 0;
  font-size: theme.$textSizeXSmall;
  font-weight: theme.$light;
  color: theme.$textSecondary;
}

.graph-card__graph-label {
  font-size: theme.$textSizeSmall;
  font-weight: theme.$bold;
  line-height: 1.2;
}

.graph-card__no-data-label {
  font-size: theme.$textSizeSmall;
  font-weight: theme.$light;
  font-style: italic;
  line-height: 1.2;
  color: theme.$textSecondary;
  padding: theme.$defaultSpacing;
}
