@use '../../styles/theme';

.graph-card {
  margin-right: theme.$defaultSpacing;

  margin-bottom: theme.$defaultSpacing;
  padding: theme.$defaultSpacing;
  background-color: theme.$greyWhite;
  width: 100%;

  h3 {
    line-height: 1.2;
    @include theme.mobileUpBreakPoint {
      margin-top: theme.$defaultSpacing;
    }
  }
}

.graph-plots {
  display: block;
  margin: 0 auto;
}
.region-label {
  margin-bottom: 0;
  font-size: theme.$textSizeXSmall;
  font-weight: theme.$light;
  color: theme.$textSecondary;
}
